*~
.*.swp
.swp
*.log
.DS_Store
.vscode/
.direnv/
.envrc.local
.flatpak-builder/
zig-cache/
.zig-cache/
zig-out/
/build.zig.zon.bak
/result*
/.nixos-test-history
/android/.gradle/
/android/app/build/
/happy-client/node_modules/
/happy-client/.expo/
/happy-client/.expo-shared/
/happy-client/android/
/happy-client/dist/
/happy-client/ios/
example/*.wasm
test/ghostty
test/cases/**/*.actual.png
flatpak/builddir/
flatpak/repo/

glad.zip
/Box_test.ppm
/Box_test_diff.ppm
/ghostty.qcow2

vgcore.*
